
tmp_dir_root: ./

env: source activate snakemake_assemble
anvi_env: source activate sn_anvio
checkm_env: source activate checkm
metaphlan_env: source activate humann2
humann2_env: source activate humann2
kraken_env: source activate kraken
shogun_env: source activate shogun

software:
  snakemake_folder: ./
  mash: 

  #Should be in the storage!!! A lot of data will be copied there while running
  phylophlan_folder: folder_with_phylophlan

params:
  skewer: -x ./adapters/HyperPlus.fa -n -l 100 -m any -q 15
  cram:
  maxbin: -plotmarker
  metaphlan:
    metaphlan_dir: 
  mash:
    other: -r -m 2 -k 21 -s 1000
    refseq_db: /home/jgsanders/ref_data/mash/RefSeqSketchesDefaults.msh
  kraken:
    kraken_db:


resources:
  centrifuge_base: /home/jgsanders/miniconda/envs/anvio2/centrifuge
  centrifuge_models: /home/jgsanders/miniconda/envs/anvio2/centrifuge/b+h+v/b+h+v

gene_search:
  min_length: 2 #Kb

phylophlan:
  threads: 12
  combined_threads: 24

binning_samples:
  - sample1
  - sample2

abundance_samples:
  - sample1
  - sample2

assemblers:
  - megahit
  - metaspades

mapping_assembler: metaspades

samples:
  sample1:
    filter_db: 
    forward: 
    - example/reads/Bs_L001_R1.fastq.gz
    - example/reads/Bs_L002_R1.fastq.gz
    reverse:
    - example/reads/Bs_L001_R2.fastq.gz
    - example/reads/Bs_L002_R2.fastq.gz
  sample2:
    filter_db: 
    forward: 
    - example/reads/Vf_L001_R1.fastq.gz
    - example/reads/Vf_L002_R1.fastq.gz
    reverse:
    - example/reads/Vf_L001_R2.fastq.gz
    - example/reads/Vf_L002_R2.fastq.gz
